.auction_item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 12%);
    transition: all 200ms ease-in;


    &:hover {
        box-shadow: 0 6px 16px 0 rgb(0 0 0 / 25%);
    }

    img {
        height: 350px;
        width: 100%;
        object-fit: contain;
    }

    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .auction_item-info {
        padding: 20px;
    }
}

.auction_items-wrapper {
    display: grid;
    column-gap: 3%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 20%));
    justify-content: center;

    >a {
        text-decoration: none;
        color: #000;
        margin-top: 35px;
    }
}

.auction {
    padding: 40px;

    .auction-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        flex-wrap: wrap;
        align-items: center;

        >h2 {
            margin-right: 25px;
        }
    }

}