.login_page {
    h1 {
        text-align: center;
    }

    .login_form {
        background-color: #fff;
        padding: 24px;
        border-radius: 16px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        width: 400px;
    }


    .login_page-background {
        display: flex;
        height: calc(100vh - 80px);
        filter: brightness(0.7);

        >div {
            width: 30%;
            background-color: #000;
            color: #fff;

            h3 {
                font-size: 48px;
                margin-top: 55%;
            }

            p {
                font-size: 20px;
            }
        }

        .login_page-video {
            width: 70%;
            object-fit: cover;
        }
    }
}