.profile {




    .product-status {
        width: fit-content;
        border-radius: 6px;
        padding: 5px;
        margin: 0 auto 10px auto;
    }

    .in-progress {
        background-color: #ccc;
    }

    .won {
        background-color: rgb(99, 250, 129);
    }

    .lost {
        background-color: rgb(250, 99, 99);
    }

    .product_image {
        height: 33px;
    }

    .product_name {
        cursor: pointer;
    }

}