.new_product-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 600px;
    margin-bottom: 32px;

    .MuiInputBase-multiline textarea {
        min-height: 120px;
        max-height: 250px;
        overflow: auto !important;
    }

    .attachments {
        display: flex;
        gap: 3%;
        flex-wrap: wrap;

        .attachment {
            margin-bottom: 25px;
            width: 30%;
            height: 110px;
            position: relative;

            >img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            >svg {
                position: absolute;
                right: 0;
                top: -15;
                cursor: pointer;
                transition: all 100ms ease-in;

                &:hover {
                    transform: scale(1.4);
                }

                path {
                    fill: red;
                }
            }

        }
    }

}