.header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;

    img {
        width: 150px;
        cursor: pointer;
    }

    .header_right {
        display: flex;
        gap: 25px;
    }

    @media screen and (max-width:768px) {
        img {
            display: none;
        }

        .header_right {
            justify-content: space-between;
            width: 100%;

            .textField-white .MuiInputBase-root {
                width: 100%;
            }
        }
    }

    @media screen and (max-width:650px) {
        .header_right {
            flex-direction: column;

            .textField-white .MuiInputBase-root {
                width: 100%;
            }
        }

    }
}