.center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

body {
    margin: 0;
    padding: 0;
}

.error {
    color: #d32f2f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.textFiled.MuiInput-underline::after {
    content: none !important;
}

.textFiled .MuiFormLabel-root.Mui-focused {
    color: #000 !important;
}

.button.MuiButtonBase-root.MuiButtonBase-root {
    background-color: #000;
}